---
import { Picture } from 'astro:assets';
const { image, company, job, date } = Astro.props
---

<li class='py-3 sm:py-4 flex items-center space-x-4'>
	<div
		class='relative flex items-center justify-center flex-none w-10 h-10 mt-1 rounded-full shadow-md shadow-gray-800/5 ring-1 ring-gray-900/5 dark:border dark:border-gray-700/50 dark:bg-gray-800 dark:ring-0'
	>
		{
			image && (
				<Picture class='w-8 h-8 object-contain rounded-full'
					src={image}
					formats={['avif', 'webp']}
					alt={`${company} logo`}/>
			)
		}
	</div>
	<dl class='flex-1 min-w-0'>
		<dt class='sr-only'>Company</dt>
		<dd class='text-md font-medium text-gray-900 truncate dark:text-white pb-1'>
			{company}
		</dd>
		<dt class='sr-only'>Role</dt>
		<dd class='text-sm text-gray-500 truncate dark:text-gray-400'>
			{job}
		</dd>
	</dl>
	<dl
		class='inline-flex items-center text-base font-semibold text-gray-900 dark:text-white'
	>
		<dt class='sr-only'>Time</dt>
		<dd
			class='ml-auto text-xs text-gray-600 dark:text-gray-300'
			aria-label='2021 until Presente'
		>
			<time datetime='2021'>{date.from}</time>
			<span aria-hidden='true'>—</span>
			<time datetime='2023'>{date.to}</time>
		</dd>
	</dl>
</li>
