---
export interface Props {
	src: string
	name: string
	id: string
	anchorId: string
	loading?: 'lazy' | 'eager'
	className?: string
}
const { src, name, id, className = '', anchorId, loading = 'lazy' } = Astro.props

const technologyInvertColor = ['next']
---

<div>
	<img
		data-tooltip-target={anchorId}
		src={src}
		alt={name}
		loading={loading}
		class={`md:max-h-8 h-12 object-contain max-h-12 max-w-[36px] w-full ${className} ${
			technologyInvertColor.includes(id) ? 'invert' : ''
		}`}
	/>
	<div
		id={`${anchorId}`}
		role='tooltip'
		class='absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700'
	>
		{name}
		<div class='tooltip-arrow' data-popper-arrow></div>
	</div>
</div>
