---
import Layout from './Layout.astro'

import CloudinaryImage from 'src/components/CloudinaryImage.astro'
import TechnologyIcon from 'src/components/TechnologyIcon.astro'
import ArrowTopRight from 'src/components/icons/ArrowTopRight.astro'
import type { ProjectSchema } from 'src/content/config'

export type Props = ProjectSchema
const { title, description, url, heroImage, technologies } = Astro.props
---

<Layout title={title} description={description} image={heroImage}>
	<section class='w-full md:flex md:justify-center py-4'>
		<article
			class='class="mx-auto w-full max-w-3xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert dark:format-white'
		>
			{
				heroImage && (
					<CloudinaryImage
						className='w-full mb-6 rounded-md aspect-video object-cover drop-shadow-2xl'
						src={heroImage}
						alt={title}
					/>
				)
			}
			<h1
				class='flex gap-4 mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white'
			>
				<a
					href={url}
					class='flex justify-center items-center no-underline text-inherit gap-4'
				>
					{title} {url && <ArrowTopRight />}</a
				>
			</h1>

			<div class='flex gap-5'>
				{
					technologies &&
						technologies.map((tech) => (
							<TechnologyIcon
								id={`${tech.id}`}
								anchorId={`${tech.id}`}
								src={tech.src}
								name={tech.name}
							/>
						))
				}
			</div>
			<div class='divider my-2'></div>
			<div class='dark:text-gray-400'>
				<slot />
			</div>
		</article>
	</section>
</Layout>
